/* CSS entrypoint (split by section for maintainability) */
@import "./styles/00-foundation.css";
@import "./styles/10-experiences.css";
@import "./styles/20-contact.css";
@import "./styles/30-navbar.css";
@import "./styles/40-layout.css";
@import "./styles/41-projects.css";
@import "./styles/50-skills.css";
@import "./styles/99-responsive.css";
